* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "YouTube Noto", Roboto, arial, sans-serif;
    color: #000;
}

#youtube-wrapper {
    flex-flow: row nowrap;
    display: none;
}

#comment-window {
    background: white url('../image/bg.png') no-repeat center;
    flex-basis: 400px;
    flex-grow: 2;
}

.comment-header {
    font-size: 18px;
    line-height: 16px;
    padding: 14px 12px 10px 12px;
}

.comment-wrap {
    overflow-y: scroll;
    word-break: break-all;
    margin: 0 20px 12px;
    border: 2px solid #A9A9A9;
    border-radius: 10px;
    font-size: 14px;
}

.comment {
    border-bottom: 1px solid #A9A9A9;
    padding: 4px 8px;
}

.fade-enter, .fade-exit {
    opacity: 0.01;
}

.fade-enter.fade-enter-active, .fade-exit.fade-exit-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

#player-wrapper {
    background: url('../image/novideo_icon.png') no-repeat 50% 60%;
    background-size:300px 300px;
    flex-basis: 600px;
    flex-grow: 3;
    position: relative;
}

#player {
    position: absolute;
}

#overlay {
    position: absolute;
    width: 600px;
    height: 700px;
}

#player-operation {
    width: 400px;
    height: 100px;
    background-color: #FFF;
    position: absolute;
    bottom: 20px;
    left: calc(50% - 200px);
    transition: opacity 0.5s;
    opacity: 0;
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    user-select: none;
}

#player-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    /* TODO win対応 */
    -webkit-app-region: drag;
    region: drag;
    background-color: #FFF;
    width: 100%;
    height: 40px;
}

#overlay:hover #player-operation {
    opacity: 100;
}

/* 閉じるボタン */
.css-exit {
    display: inline-block;
    position: relative;
    margin: 10px 20px 7px;
    padding: 0;
    width: 2px;
    height: 20px;
    background: #A9A9A9;
    transform: rotate(45deg);
}

.css-exit:before {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: -8px;
    width: 20px;
    height: 2px;
    margin-top: -1px;
    background: #A9A9A9;
}

#exit:hover .css-exit, #exit:hover .css-exit:before {
    background-color: #aa96b4;
}

/* 動画タイトル */
#video-title {
    font-size: 12px;
    margin-top: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: default;
}

#comment-toggle-wrap {
    margin-top: 10px;
    margin-right: 12px;
    margin-left: 8px;
}

.comment-trigger,
.comment-trigger span {
    display: inline-block;
    box-sizing: border-box;
}

.comment-trigger {
    position: relative;
    width: 25px;
    height: 20px;
}

.comment-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #A9A9A9;
    border-radius: 2px;
}

.comment-trigger span:nth-of-type(1) {
    top: 0;
}

.comment-trigger span:nth-of-type(2) {
    top: 9px;
}

.comment-trigger span:nth-of-type(3) {
    bottom: 0;
}

.comment-trigger:hover span {
    background-color: #aa96b4;
}

.comment-trigger span:nth-of-type(1),
.comment-trigger span:nth-of-type(3) {
    width: 10px;
}

.comment-trigger span:nth-of-type(1) {
    transform: translate(-1px, 6px) rotate(-45deg);
}

.comment-trigger span:nth-of-type(3) {
    transform: translate(-1px, -6px) rotate(45deg);
}

/* volume */
#volume-wrapper {
    float: right;
    display: flex;
    flex-flow: row nowrap;
    padding: 0 20px;
}

#volume {
    position: relative;
    width: 100px;
    height: 6px;
    background-color: #A9A9A9;
    margin: 16px 12px;
    border-radius: 10px;
}

#picker {
    cursor: pointer;
    position: absolute;
    top: -6px;
    left: 50px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #aa96b4;
}

#player-operation-top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin: 8px 10px 0;
}

#player-operation-bottom {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

/* volume icon */
.volume-icon-wrapper {
    width: 12px;
    cursor: pointer;
}

.volume-icon-base {
    font-size: 12px;
    position: relative;
    width: 0.4em;
    height: 0.4em;
    margin: 17px 0;
    background-color: #aa96b4;
}

.volume-icon-base:before {
    content: "";
    position: absolute;
    top: -0.3em;
    left: 1px;
    width: 0;
    height: 0;
    border-top: 0.5em solid transparent;
    border-bottom: 0.5em solid transparent;
    border-right: 0.8em solid #aa96b4;
}

/* volume3 */
.volume-icon-3 {
    position: absolute;
    top: 0;
    left: 0.4em;
    width: 0.4em;
    height: 0.2em;
    border-top: 0.1em solid transparent;
    border-left: 0.1em solid transparent;
    border-right: 0.1em solid #aa96b4;
    border-bottom: 0.1em solid transparent;
    border-radius: 100%;
}

.volume-icon-3::before {
    content: "";
    position: absolute;
    top: -0.3em;
    left: 0.1em;
    width: 0.4em;
    height: 0.6em;
    border-top: 0.1em solid transparent;
    border-left: 0.1em solid transparent;
    border-right: 0.1em solid #aa96b4;
    border-bottom: 0.1em solid transparent;
    border-radius: 100%;
}

.volume-icon-3::after {
    content: "";
    position: absolute;
    top: -0.5em;
    left: 0.1em;
    width: 0.6em;
    height: 1em;
    border-top: 0.1em solid transparent;
    border-left: 0.1em solid transparent;
    border-right: 0.1em solid #aa96b4;
    border-bottom: 0.1em solid transparent;
    border-radius: 100%;
}

#current-time, #video-time {
    width: 50px;
    font-size: 12px;
    text-align: center;
}

/* 検索 */
#search {
    margin-left: 12px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

#search-box {
    width: 112px;
    height: 20px;
    color: #aa96b4;
    border: solid 2px #aa96b4;
    border-radius: 4px;
    padding: 0 4px;
}

#search-label {
    font-size: 12px;
    margin-right: 6px;
}

.search-icon {
    height: 20px;
    width: 20px;
    display: block;
    position: relative;
    margin-left: 12px;
    cursor: pointer;
}

.search-icon:before, .search-icon:after {
    content: '';
    height: 10px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.search-icon:before {
    width: 10px;
    border: 2px #aa96b4 solid;
    border-radius: 100%;
}

.search-icon:after {
    width: 2px;
    background: #aa96b4;
    transform: rotate(-45deg);
    top: 10px;
    left: 14px;
}

/* 再生ボタン */
#start {
    cursor: pointer;
}

.start-icon {
    height: 24px;
    width: 24px;
    border: 2px solid #aa96b4;
    border-radius: 6px;
    position: relative;
}

.start-icon:before {
    content: '';
    height: 0;
    width: 0;
    display: block;
    border: 8px transparent solid;
    border-right-width: 0;
    border-left-color: #aa96b4;
    position: absolute;
    top: 4px;
    left: 9px;
}

#stop {
    cursor: pointer;
    display: none;
}

.stop-icon {
    height: 24px;
    width: 24px;
    border: 2px solid #aa96b4;
    border-radius: 6px;
    position: relative;
}

.stop-icon:before {
    content: '';
    height: 12px;
    width: 12px;
    display: block;
    background: #aa96b4;
    position: absolute;
    top: 6px;
    left: 6px;
}

/* reload */
#reload {
    cursor: pointer;
}

.reload-icon {
    position: relative;
    margin-top: 2px;
    width: 24px;
    height: 24px;
    border: 3px solid;
    border-right-color: transparent;
    border-radius: 100%;
    box-sizing: border-box;
    color: #aa96b4;
}

.reload-icon:before {
    position: absolute;
    top: 5px;
    right: -5px;
    content: "";
    height: 50%;
    border: 6px solid transparent;
    border-top: 10px solid;
    background: transparent;
    transform-origin: left top;
    transform: rotate(-40deg);
    box-sizing: border-box;
}

/* latest */
#latest {
    cursor: pointer;
}

.latest-icon {
    height: 24px;
    width: 24px;
    border: 2px solid #aa96b4;
    border-radius: 6px;
    position: relative;
}

.latest-icon:before {
    content: '';
    height: 0;
    width: 0;
    display: block;
    border: 8px transparent solid;
    border-right-width: 0;
    border-left-color: #aa96b4;
    position: absolute;
    top: 4px;
    left: 6px;
}

.latest-icon:after {
    content: '';
    height: 16px;
    width: 3px;
    display: block;
    background: #aa96b4;
    position: absolute;
    top: 4px;
    left: 16px;
}

/* setting */
#setting-wrap {
    height: 28px;
    width: 28px;
    position: relative;
}

.setting-icon {
    cursor: pointer;
    width: 28px;
    height: 28px;
    fill: rgb(170, 150, 180);
}

#setting-menu {
    color: #000;
    width: 96px;
    height: 210px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: -200px;
    left: 20px;
    display: none;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-end;
}

#setting-menu-title {
    width: 96px;
    border-bottom: 1px solid #000;
    text-align: center;
}

/* now-time */
#now-time {
    width: 160px;
    text-align: left;
    margin-top: 2px;
    font-size: 16px;
}

/* 画質設定 */
.quality-selected {
    height: 18px;
    width: 18px;
    display: block;
    position: relative;
    top: 2px;
}

.quality-selected:after, .quality-selected:before {
    content: '';
    height: 14px;
    width: 4px;
    display: block;
    background: #aa96b4;
    position: absolute;
    top: 5px;
    left: 8px;
    transform: rotate(45deg);
}

.quality-selected:before {
    height: 6px;
    transform: rotate(-45deg);
    top: 10px;
    left: 2px;
}

.quality{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 80px;
    height: 30px;
    padding: 0 8px;
    cursor: pointer;
}

.quality p {
    width: 80px;
    text-align: right;
    margin-top: 6px;
}

.quality:hover {
    background-color: rgba(169, 169, 169, 0.7);
}

#auto {
    margin-top: 2px;
}
