*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "YouTube Noto",Roboto,arial,sans-serif;
}

#youtube-wrapper {
    flex-flow: row nowrap;
    display: none;
}

#comment-window {
    background: url('../image/bg.png') center;
    flex-basis: 400px;
    flex-grow: 2;
}
.comment-header{
    font-size: 18px;
    line-height: 16px;
    padding: 14px 12px 10px 12px;
}

.comment-wrap{
    overflow-y: scroll;
    word-break: break-all;
    margin: 0 20px 12px;
    border: 2px solid #A9A9A9;
    border-radius: 10px;
    font-size: 14px;
}

.comment {
    border-bottom: 1px solid #A9A9A9;
    padding: 4px 8px;
}

.fade-enter, .fade-exit {
    opacity: 0.01;
}

.fade-enter.fade-enter-active, .fade-exit.fade-exit-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

#player-wrapper {
    flex-basis: 600px;
    flex-grow: 3;
    position: relative;
}

#player {
    position: absolute;
}

#overlay {
    position: absolute;
    width: 600px;
    height: 700px;
}

#player-operation {
    width: 400px;
    height: 100px;
    background-color: #FFF;
    position: absolute;
    bottom: 20px;
    left: calc(50% - 200px);
    transition: opacity 0.5s;
    opacity: 0;
    border-radius: 10px;
}

#player-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    -webkit-app-region: drag;
    background-color: #FFF;
    width: 100%;
    height: 40px;
    transition: opacity 0.5s;
    opacity: 0;
}

#overlay:hover #player-operation, #overlay:hover #player-header {
    opacity: 100;
}

/* 閉じるボタン */
.css-exit{
    display: inline-block;
    position: relative;
    margin: 10px 20px 7px;
    padding: 0;
    width: 2px;
    height: 20px;
    background: #000;
    transform: rotate(45deg);
}
.css-exit:before{
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: -8px;
    width: 20px;
    height: 2px;
    margin-top: -1px;
    background: #000;
}
#exit:hover .css-exit, #exit:hover .css-exit:before{
    background-color: #aa96b4;
}

/* 動画タイトル */
#video-title {
    font-size: 12px;
    margin-top: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#comment-toggle-wrap{
    margin-top: 10px;
    margin-right: 12px;
    margin-left: 8px;
}

.comment-trigger,
.comment-trigger span {
    display: inline-block;
    box-sizing: border-box;
}
.comment-trigger {
    position: relative;
    width: 25px;
    height: 20px;
}
.comment-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    border-radius: 2px;
}
.comment-trigger span:nth-of-type(1) {
    top: 0;
}
.comment-trigger span:nth-of-type(2) {
    top: 9px;
}
.comment-trigger span:nth-of-type(3) {
    bottom: 0;
}
.comment-trigger:hover span{
    background-color: #aa96b4;
}

.comment-trigger span:nth-of-type(1),
.comment-trigger span:nth-of-type(3) {
    width: 10px;
}
.comment-trigger span:nth-of-type(1) {
    transform: translate(-1px,6px) rotate(-45deg);
}
.comment-trigger span:nth-of-type(3) {
    transform: translate(-1px,-6px) rotate(45deg);
}


/* volume */
#volume-wrapper {
    float: right;
    display: flex;
    flex-flow: row nowrap;
    padding: 0 20px;
}
#volume {
    position: relative;
    width: 100px;
    height: 6px;
    background-color: #A9A9A9;
    margin: 16px 12px;
    border-radius: 10px;
}
#picker {
    cursor : pointer;
    position: absolute;
    top: -6px;
    left: 50px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #aa96b4;
}

#stop, #start, #restart{
    width: 20px;
}


/* volume icon */
.volume-icon-wrapper {
    width: 12px;
}
.volume-icon-base {
    font-size: 12px;
    position: relative;
    width: 0.4em;
    height: 0.4em;
    margin: 17px 0;
    background-color: #aa96b4;
}
.volume-icon-base:before {
    content: "";
    position: absolute;
    top: -0.3em;
    left: 0;
    width: 0;
    height: 0;
    border-top: 0.5em solid transparent;
    border-bottom: 0.5em solid transparent;
    border-right: 0.8em solid #aa96b4;
}
/* volume3 */
.volume-icon-3 {
    position: absolute;
    top: 0;
    left: 0.4em;
    width: 0.4em;
    height: 0.2em;
    border-top: 0.1em solid transparent;
    border-left: 0.1em solid transparent;
    border-right: 0.1em solid #aa96b4;
    border-bottom: 0.1em solid transparent;
    border-radius: 100%;
}
.volume-icon-3::before {
    content: "";
    position: absolute;
    top: -0.3em;
    left: 0.1em;
    width: 0.4em;
    height: 0.6em;
    border-top: 0.1em solid transparent;
    border-left: 0.1em solid transparent;
    border-right: 0.1em solid #aa96b4;
    border-bottom: 0.1em solid transparent;
    border-radius: 100%;
}
.volume-icon-3::after {
    content: "";
    position: absolute;
    top: -0.5em;
    left: 0.1em;
    width: 0.6em;
    height: 1em;
    border-top: 0.1em solid transparent;
    border-left: 0.1em solid transparent;
    border-right: 0.1em solid #aa96b4;
    border-bottom: 0.1em solid transparent;
    border-radius: 100%;
}


#current-time, #video-time{
    width: 50px;
    font-size: 12px;
    text-align: center;
}

/* 検索 */
#search{
    margin-left: 8px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
#search-box {
    width: 80px;
}